name: Build

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Build
        run: | 
          pip install -e .
          python pyinstaller.py --onefile

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: conan_${{ matrix.os }}
          path: pyinstaller/dist/conan/*
          if-no-files-found: error

  create-release:
    needs: build
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main')

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: conan_windows-latest
          path: windows/
      - uses: actions/download-artifact@v4
        with:
          name: conan_ubuntu-20.04
          path: ubuntu/
      - uses: actions/download-artifact@v4
        with:
          name: conan_macos-latest
          path: macos/

      - name: Move files
        run: |
          mv windows/conan.exe conan-win.exe
          mv ubuntu/conan conan-linux
          mv macos/conan conan-macos

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: 2.8.1
          body: See https://github.com/conan-io/conan/releases/ for patchnotes
          files: |
            conan-win.exe
            conan-linux
            conan-macos
